<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
	    xmlns:android="http://schemas.android.com/apk/res/android"
            xmlns:gap   = "http://phonegap.com/ns/1.0"
	    id          = "im"
            version     = "1.0.0" >
    
    <name>Incidents Map</name>
    <description>This application shows you incidents which take place in your area.</description>
	<platform name="android">
    <config-file target="AndroidManifest.xml" parent="/*">
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
		<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
		<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    </config-file>
	</platform>

	<plugin name="cordova-plugin-device" spec="~1.1.4" />
	<plugin name="cordova-plugin-dialogs" spec="~1.3.1" />
	<plugin name="cordova-plugin-geolocation" version="2.1.0" />
	<plugin name="cordova-plugin-whitelist" spec="1" />
	<plugin name="cordova-plugin-firebase" spec="1.0.0" />

</widget>
